################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IServiceProxy/v15
/IServiceProxy/bin/Debug/net46
/IServiceProxy/obj
/IServiceProxy/bin/Debug/net47/win7-x64
